$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

body {
    background-color: rgb(220, 220, 220);
}

.wrap {
    margin-top: 60px;
    margin-left: 60px;
}

.title {
    -webkit-font-smoothing: antialiased;
    color: rgb(0, 150, 218);
    display: block;
    font-size: 30px;
    font-weight: normal;
    height: 37px;
    margin-left: 15px;
    margin-bottom: 30px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-shadow: rgba(255, 255, 255, 0.298039) 1px 1px 1px;
    width: 912px;
    zoom: 1;
}

.subtitle {
    -webkit-font-smoothing: antialiased;
    color: rgb(13, 167, 221);
    display: block;
    font-size: 18px;
    font-weight: normal;
    height: 23px;
    margin-bottom: 20px;
    margin-left: 3px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-shadow: rgba(255, 255, 255, 0.298039) 0px 1px 0px;
    width: 444px;
    zoom: 1;
}

.btn-address span {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-property: opacity;
    -webkit-transition-timing-function: ease-out;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(https://www.touchnote.com/public/img/addressbook/btn_enter_new_address.png);
    background-origin: padding-box;
    background-position: 0px 0px;
    background-size: auto;
    bottom: 0px;
    color: rgb(98, 99, 102);
    cursor: pointer;
    display: block;
    font-family: 'VAG Rounded Std Light';
    height: 69px;
    left: 0px;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: ease-out;
    width: 448px;
    zoom: 1;
}

.search {
    margin-top: 30px;
    margin-bottom: 20px;
}

.contact {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(235, 235, 235);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(210, 208, 208);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(210, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(210, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(210, 208, 208);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-style: solid;
    border-top-width: 1px;
    cursor: pointer;
    height: 120px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 5px;
    padding-top: 5px;
    zoom: 1;
}
.navlist {
    -webkit-font-smoothing: antialiased;
    display: block;
    height: 28px;
    list-style-type: disc;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 444px;
    zoom: 1;
}

.navlist li {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(https://www.touchnote.com/public/img/card/address/address_tab.png);
    background-origin: padding-box;
    background-size: auto;
    color: rgb(0, 150, 218);
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
    text-shadow: rgba(170, 220, 243, 0.298039) 0px 1px 0px;
    width: 34px;
    zoom: 1;
    a {
        color: rgb(98, 99, 102);;
    }
}

li.selected {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(https://www.touchnote.com/public/img/card/address/address_tab.png);
    background-origin: padding-box;
    background-position: 0px -56px;
    background-size: auto;
    color: rgb(0, 150, 218);
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
    text-shadow: rgba(170, 220, 243, 0.298039) 0px 1px 0px;
    width: 34px;
    zoom: 1;

    a {
        color: rgb(255, 255, 255);
    }
}

.contactimg {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(https://www.touchnote.com/public/img/card/address/icon_no_image.png);
    background-origin: padding-box;
    background-size: auto;
    cursor: pointer;
    display: block;
    float: left;
    font-family: 'VAG Rounded Std Light';
    height: 54px;
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 16px;
    width: 54px;
    zoom: 1;
}

.edit {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(https://www.touchnote.com/public/img/addressbook/index/icon_edit.png);
    background-origin: padding-box;
    background-size: auto;
    color: rgb(98, 99, 102);
    cursor: auto;
    display: block;
    float: left;
    font-family: 'VAG Rounded Std Light';
    height: 23px;
    margin-bottom: 27px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 27px;
    outline-color: rgb(98, 99, 102);
    outline-style: none;
    outline-width: 0px;
    text-decoration: underline solid rgb(98, 99, 102);
    text-indent: -9999px;
    width: 45px;
    zoom: 1;
}

.detail {
    margin-top: 6px;
    color: rgb(113, 114, 115);
    line-height: 20px;
    text-shadow: rgba(255, 255, 255, 0.298039) 0px 
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    
}
