<div class="wrap" ng-init=initContacts()>
  <h1 class="title col-xs-12">Decide who to send your card to</h1>
  <div class="contactlist col-xs-12">
    <h3 class="subtitle col-xs-12">Select who to send your card to</h3>
    <a href="#" class="btn-address col-xs-12" data-toggle="modal" data-target="#formModal" ><span></span></a>
    <div class="search form-group col-xs-6" >
      <input ng-model="searchText" type="text" class="form-control" placeholder = "search your contacts">
    </div>
    
    <ul class="navlist">
      <li class="selected"><a href="#">All</a></li>
      <li><a href="#">A-E</a></li>
      <li><a href="#">F-K</a></li>
      <li><a href="#">L-P</a></li>
      <li><a href="#">Q-V</a></li>
      <li><a href="#">W-Z</a></li>
    </ul>
  </div>
  
  <div class="contacts col-xs-12">
    
    <div ng-click="selectContact($index)" ng-class="{'highlight':contact.selected}" class="col-xs-6 contact" ng-repeat="contact in contacts | filter: searchText" ng-show="$odd">
      <span class="contactimg col-xs-4"></span>
      <div class="detail col-xs-5">
        <h5>{{contact.first +" "+contact.last}}</h5>
        <p>{{contact.addressl1+", "+contact.town+", "+contact.postcode+", "+contact.country}}</p>
      </div>
      <a  href="" class="edit col-xs-3" data-toggle="modal" data-target="#editModal" >Edit</a>
    </div>

    <div ng-click="selectContact($index)" ng-class="{'highlight':contact.selected}" class="col-xs-6 contact" ng-repeat="contact in contacts  | filter: searchText" ng-show="$even">
      <span class="contactimg col-xs-4"></span>
      <div class="detail col-xs-5">
        <h5>{{contact.first +" "+contact.last}}</h5>
        <p>{{contact.addressl1+", "+contact.town+", "+contact.postcode+", "+contact.country}}</p>
      </div>
      <a  href="" class="edit col-xs-3" data-toggle="modal" data-target="#editModal">Edit</a>
  </div>

</div>




<!--Enter New Address Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Enter new address</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">First name</label>
            <div class="col-sm-9">
              <input ng-model="firstName" type="text" class="form-control" id="firstName" placeholder="Required">
            </div>
          </div>
          <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Last name</label>
            <div class="col-sm-9">
              <input ng-model="lastName" type="text" class="form-control" id="lastName" placeholder="Required">
            </div>
          </div>
           <div class="form-group">
            <label for="country" class="col-sm-3 control-label">Country</label>
            <div class="col-sm-9">
              <input ng-model="country" type="text" class="form-control" id="country" placeholder="Required">
            </div>
          </div>
           <div class="form-group">
            <label for="postcode" class="col-sm-3 control-label">Postcode</label>
            <div class="col-sm-9">
              <input ng-model="postcode" type="text" class="form-control" id="postcode" placeholder="Required">
            </div>
          </div>
          <div class="form-group">
            <label for="addressl1" class="col-sm-3 control-label">Address</label>
            <div class="col-sm-9">
              <input ng-model="addressl1" type="text" class="form-control" id="addressl1" placeholder="Required">
            </div>
          </div>
          <div class="form-group">
            <label for="addressl2" class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
              <input ng-model="addressl2" type="text" class="form-control" id="addressl2" >
            </div>
          </div>
          <div class="form-group">
            <label for="town" class="col-sm-3 control-label">Town</label>
            <div class="col-sm-9">
              <input ng-model="town" type="text" class="form-control" id="town" placeholder="Required">
            </div>
          </div>
          <div class="form-group">
            <label for="county" class="col-sm-3 control-label">County</label>
            <div class="col-sm-9">
              <input ng-model="county" type="text" class="form-control" id="county">
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="newAddress()">Add</button>
      </div>
    </div>
  </div>
</div>


<!--Edit address Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit address</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">First name</label>
            <div class="col-sm-9">
              <input ng-model="first" type="text" class="form-control" id="first" value={{selectedContact.first}} placeholder={{selectedContact.first}}>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Last name</label>
            <div class="col-sm-9">
              <input ng-model="last" type="text" class="form-control" id="last" value={{selectedContact.last}} placeholder={{selectedContact.last}}>
            </div>
          </div>
           <div class="form-group">
            <label for="country" class="col-sm-3 control-label">Country</label>
            <div class="col-sm-9">
              <input ng-model="countryE" type="text" class="form-control" id="countryE" value={{selectedContact.country}} placeholder={{selectedContact.country}}>
            </div>
          </div>
           <div class="form-group">
            <label for="postcode" class="col-sm-3 control-label">Postcode</label>
            <div class="col-sm-9">
              <input ng-model="postcodeE" type="text" class="form-control" id="postcodeE" placeholder={{selectedContact.postcode}}>
            </div>
          </div>
          <div class="form-group">
            <label for="addressl1" class="col-sm-3 control-label">Address</label>
            <div class="col-sm-9">
              <input ng-model="addressl1E" type="text" class="form-control" id="addressl1E" placeholder={{selectedContact.addressl1}}>
            </div>
          </div>
          <div class="form-group">
            <label for="addressl2" class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
              <input ng-model="addressl2E" type="text" class="form-control" id="addressl2E" placeholder={{selectedContact.addressl2}}>
            </div>
          </div>
          <div class="form-group">
            <label for="town" class="col-sm-3 control-label">Town</label>
            <div class="col-sm-9">
              <input ng-model="townE" type="text" class="form-control" id="townE" placeholder={{selectedContact.town}}>
            </div>
          </div>
          <div class="form-group">
            <label for="county" class="col-sm-3 control-label">County</label>
            <div class="col-sm-9">
              <input ng-model="countyE" type="text" class="form-control" id="countyE" placeholder={{selectedContact.county}}>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="edit()">Update</button>
      </div>
    </div>
  </div>
</div>


