<h1>Decide who to send your card to</h1>
<div class="contactlist grid_6" style="float:left;">
  <h3 style="color:#0DA7DD;text-shadow:0px 1px 0px rgba(255,255,255,.3);margin-bottom:20px;">Select who to send your card to</h3>

  <div class="" id="addFbFriends">
      <div id="enterAddress" style="">
      <a href="#" class="btn-addnewaddress"><span></span></a>
    </div>
  </div>
  <ul class="navlist">
    <li class="selected"><a href="#">All</a></li>
    <li><a href="#">A-E</a></li>
    <li><a href="#">F-K</a></li>
    <li><a href="#">L-P</a></li>
    <li><a href="#">Q-V</a></li>
    <li><a href="#">W-Z</a></li>
  </ul>
</div>

