<div class="wrap">
  <h1 class="title">Decide who to send your card to</h1>
  <div class="contactlist">
    <h3 class="subtitle">Select who to send your card to</h3>
    <a href="#" class="btn-address"><span></span></a>
    <ul class="navlist">
      <li class="selected"><a href="#">All</a></li>
      <li><a href="#">A-E</a></li>
      <li><a href="#">F-K</a></li>
      <li><a href="#">L-P</a></li>
      <li><a href="#">Q-V</a></li>
      <li><a href="#">W-Z</a></li>
    </ul>
  </div>
</div>


